.root {
-fx-font-size: 14px;
}

.slider {
-fx-background-color: BLACK}


.slider .track {
-fx-background-color: LIGHTGREY
}

.orangeLitur .thumb {
-fx-background-color: ORANGE
}


.slider:vertical .track {
-fx-background-color: GREY
}

.slider .axis {
-fx-tick-label-fill: LIGHTGREY
}